/*@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* { /* CSS RESET */
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

body{
 background-image: url(testeimg/wallpaperflare.com_wallpaper.jpg);
 background-size: 100% 100%;
 background-attachment: fixed;
}

header {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 17.1em;
  margin: 0 auto;
  margin-top: 3%;
 }
header > section {
  border: transparent;
  height: 70%;
  margin: 0 auto;
  margin-top: 3%;
  float: left;
  margin-left: 25px;
  font-family: 'Chakra Petch', sans-serif;
  font-style: italic;
  color: rgb(255, 255, 255);
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  border-radius: 3%;
  text-shadow:1px 1px 2px rgb(54, 53, 53);
  justify-content: center;
  align-items: center;
}

#c1{
  font-family: 'Chakra Petch', sans-serif;
  font-style: italic;
  color: rgb(0, 0, 0);
  font-size: 57pt;
  font-weight: bolder;
  text-shadow:1px 3px 3px rgb(255, 255, 255);
}

main {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 50em;
  margin: 0 auto;
  margin-top: 3%;
}
aside {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 66em;
  float: right;
  position: absolute;
  left: 55%;
  top: 8.92%;
 
}

#preco {
  font-size: 26pt;
  font-weight: bolder;
}

#comprar {
  font-size: 20pt;
  font-weight: bolder;
}
#sectionasidetop {
  border: 1px solid #000;
  height: 26%;
  margin: 0 auto;
  margin-top: 3%;
  float: left;
  margin-right: 2%;
  margin-left: 4%;
  background: url(testeimg/industria-4-1024x809.jpg);
  background-size: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  border-radius: 3%;
  justify-content: center;
  align-items: center;
}
#sectionasidebotton {
  border: 1px solid #000;
  height: 66.50%;
  margin: 0 auto;
  margin-top: 3%;
  float: left;
  margin-right: 2%;
  margin-left: 4%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  border-radius: 3%;
  padding: 10px;
  
}

h1{ font-family: 'Chakra Petch', sans-serif;
  font-size: larger;
  /*float: left;*/
  font-size: 16pt;
  /*margin-left: 10%;*/
  text-align: left;
}

#carbono{
  font-family: 'Chakra Petch', sans-serif;
  font-size: larger;
  float: left;
  margin: 0 auto;
  
}


#c2{
  border: rgb(255, 255, 255) 1px solid;
  background-color: rgb(21, 255, 0);
  border-radius: 3%;
  height: 10%;
  width: 60%;
  border-top: 70%;
  margin-top: 10%;
  margin-left: 15%;
  font-family: 'Chakra Petch', sans-serif;
  cursor: pointer;
}

#c3{
  border: rgb(255, 252, 252) 1px solid;
  background-color: rgb(54, 226, 38);
  border-radius: 3%;
  height: 7%;
  width: 40%;
  border-top: 70%;
  margin-top: 4%;
  margin-left: 26%;
  font-family: 'Chakra Petch', sans-serif;
  cursor: pointer;
}

article {
  height:90%;
  border: 1px solid rgba(0, 0, 0, 0);
}
#sectionmaintop {
  border-radius: 3%;
  height: 48%;
  margin-top: 1%;
  margin-left: 25px;
  background-color: rgb(255, 252, 252);
  font-family: 'Chakra Petch', sans-serif;
  font-size:medium;
  /*float: left;*/
  font-size: 14pt;
  /*margin-left: 10%;*/
  padding: 14px;
}

#just{
  text-align: justify;
}

#sectionmainbottom {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 40%;
  margin: 0 auto;
  margin-top: 7%;
}

#video{
  width: 100%;
  height: 100%;

}

#feed{
  
  height: 30%;
  margin: 0 auto;
  margin-top: 10%;
  margin-left: 5%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  border-radius: 5%;
}

footer{
  border: 1px solid rgba(0, 0, 0, 0);
  height: 7em;
  margin: 0 auto;
  margin-top: 3%;
  float: none;
}

#contato {
  height: 95%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 14px;
  text-shadow:1px 2px 1px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}


/* =============================ÃREA DE RESPONSIVIDADE ============================= */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50.00%;}
.col-7 {width: 54.53%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 1400px) {
  aside {
    position: absolute;
    top: 7%;
  }
}
@media only screen and (max-width: 1350px) {
  aside {
    position: absolute;
    top: 6%;
    
  }
  #sectionmaintop {
    height: 65%;
  }
  #feed {
    margin-top: 18%;
  }
}

@media only screen and (max-width: 1264px) {
  aside {
    position: absolute;
    top: 6%;
    

  }
  #sectionasidetop {
    height: 18%;
    width: 100%;
  }
  #sectionasidebotton {
    height: 71%;
  }

  #sectionmaintop {
    height: 80%;
  }
  #sectionmainbotton {
    height: 10%;
  }
  #video {
    height: 78%;
    width: 120%;
  }
  #feed {
    margin-top: 30%;
  }
  #c2{
   margin-left: 20%; 
  }
  #c3 {
    width: 50%;
  }
  #contato {
    margin-top: 10%;
  }

}

@media only screen and (max-width: 920px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 90%;
  }
  header {
    height: 14em;
    
  }
  header > section {
    border: 1px solid #000;
    height: 85%;
    margin: 0 auto;
    margin-top: 3%;
    float: left;
    margin-left: 25px;
  }
  #c1 {
    font-size: 45px;
    
  }
  main {
    position:relative;
    margin-top: 0%;
    height: 92em;
  }
  aside {
    position: absolute;
    left: 5%;
    top: 0%;
    height: 73%;
    
  }
  #sectionasidetop {
    margin-left: 5%;
  }
  #sectionasidebotton {
    margin-left: 5%;
  }
  #c2{
    margin: 0 auto;
    margin-top: 13%;
    margin-left: 20%;
  }
  #c3{
   
    margin-top: 10%;
    margin-left: 30%;
  }
  #articlesobre {
    height:75%;
    margin-top: 660px;
    margin-left: 5%;
  }
  #sectionmaintop {
    border: 1px solid #000;
    height: 63%;
    margin-top: 66%;
    margin-left: 3%;

  }
  #sectionmainbottom {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 35%;
    width: 70%;
    margin: 0 auto;
    margin-top: 8%;
    margin-right: 21%;
  }

  #feed {
    display: block;
    margin-top: 70%;
  }
  #comentarios {
    width: 100%;
  }
  #contato {
    margin-top: 95%;
  }

}

@media only screen and (max-width: 776px){

  #contato {
    margin-top: 100%;
  }

  #sectionmaintop {
    margin-top: 70%;
  }
  
}

@media only screen and (max-width:659px){

  #contato {
    margin-top: 120%;
  }
  
}


@media only screen and (max-width: 566px) {
  
  #articlesobre {
    margin-top: 160%;
  }

  #contato {
  margin-top: 150%;
}

}
@media only screen and (max-width: 476px) {
  header > section {
    margin-left: 24px;
    width: 30%;
  }

#video{
  width: 100%;
  height: 100%;
}

#sectionmaintop {
 height: 80%;
 margin-top: 170%;
}

aside {
  height: 85%;
}

#c2 {
  margin-left: 14%;
}

#c3  {
  width: 80%;
  margin-left: 5%;
}

#sectionmainbotton {
  height: 50%;
  width: 90%;
  margin-top: 190%;
}

#video {
  height: 60%;
  width: 120%;
}

#feed {
  margin-top: 190%;
}

#contato {
  margin-top: 230%;
}

}

@media only screen and (max-width: 399px) {
  #articlesobre {
    margin-top: 260%;
  }

  #contato {
    margin-top: 270%;
  }

  #sectionmaintop {
    margin-top: 115%;
  }
}

@media only screen and (max-width: 322px) {
  
  aside {
    height: 105%;
  }


  #articlesobre {
    margin-top: 420%;
  }

  #feed {
    margin-top: 200%;
  }

  #contato {
    margin-top: 500%;
  }

  #sectionmaintop {
    margin-top: 180%;
    height: 90%;
  }

  footer {
    margin-top: 30%;
  }
}
