@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
  /* CSS RESET */
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

body {
  /*background:url(imgg/wallpaperflare.com_wallpaper.jpg); */
  background-color: rgb(42, 137, 214);
}

#p {
  font-family: 'Chakra Petch', sans-serif;
  font-style: italic;
  color: rgb(255, 255, 255);
  font-size: 50pt;
  text-align: center;
  text-shadow: 1px 3px 2px rgb(0, 0, 0);
}

#articletitulo {
  background-color: rgba(240, 248, 255, 0.358);
  backdrop-filter: blur(3px);
}

main {
  height: 80vh;
  /*border: 0.5px solid #000;*/
  margin: 0 auto;
  margin-top: 2.5vh;
  /*border-radius: 30px;
    background-color: rgba(240, 248, 255, 0.358);
    backdrop-filter: blur(3px);*/

}

#conteudo {
  height: 90%;
  margin: 0 auto;
  margin-top: 4%;
}


#articlebotoes {
  height: 15%;
  margin: 0 auto;
  margin-top: 2.5%;
  border-radius: 15px;
  background-color: rgba(240, 248, 255, 0.358);
  backdrop-filter: blur(3px);
}

/*#botoes {
    height: 100%;
    border: 1px solid;
    margin: 0 auto;
    float: left;
    margin-left: 25%;
    background-color: black;
  }*/

#botoes2 {
  height: 100%;
  float: right;
  margin-top: 1.15%;
  margin-right: 44%;
  position: relative;
}

/* #b1 {
    width: 100%;
    height: 90%;
    float: left;
    font-size: 230%;
    margin-top: 1%;
}*/

#b2 {
  width: 100%;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #00aa63;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #76767f;
  position: absolute;
}

#b2:hover {
  background-color: #045a3a
}

#b2:active {
  background-color: #045a3a;
  box-shadow: 0 5px #58585f;
  transform: translateY(4px);
}

#sectionarticletop {
  height: 80%;
  float: left;
  margin: 0 0 0 1%;
  border-radius: 15px;
  background-color: rgba(240, 248, 255, 0.358);
  backdrop-filter: blur(3px);

}

#bloco2 {
  float: right;
  width: 36%;
  height: 40%;
  margin: 0% 0 0 1%;
  border-radius: 15px;
  background-color: rgba(240, 248, 255, 0.358);
  backdrop-filter: blur(3px);
}

#titulo {
  padding: 15px 0 0 0;
  text-align: center;
  font-weight: bolder;
  font-size: 20pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fraseinic {
  padding: 0 15px 0 15px;
  margin: 3.5% 0 0 0;
  text-align: justify;
  text-indent: 25px;
  font-size: 14pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#frasedestq {
  padding: 0 15px 0 15px;
  margin: 3.5% 0 0 0;
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  font-size: 14pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#volumecont {
  padding: 0 15px 25px 15px;
  margin: 3.5% 0 0 0;
  text-align: justify;
  text-indent: 25px;
  font-style: bolder;
  font-size: 14pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#quadro {
  margin: 5% 0 5% 10%;
  width: 80%;
  height: 250px;
}




/* =============================ÁREA DE RESPONSIVIDADE ============================= */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 15.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 26.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 90.66%;
}

.col-12 {
  width: 100%;
}


@media only screen and (max-width: 1370px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 90%;
  }

  main {
    height: 120vh;
  }

  #sectionarticletop {
    float: none;
    width: 100%;
    margin-left: 0%;
    height: 70%;
  }

  #bloco2 {
    height: 25%;
    width: 50%;
    float: none;
    margin: 0 auto;
    margin-top: 3%;
  }

  #botoes2 {
    float: none;
    margin: 0;
    margin-left: 5%;
    position: relative;
  }

  #b2 {
    width: 30%;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
}

@media only screen and (max-width: 978px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 90%;
  }

  #conteudo {
    height: 60em;
    width: 100%;
  }

  #sectionarticletop {
    float: none;
    width: 100%;
  }

  #quadro {
    float: none;
  }

}

@media only screen and (max-width: 778px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 90%;
  }

  #sectionarticletop {
    height: 75%;
  }

  #bloco2 {
    height: 20%;
    width: 70%;
  }

  #b2 {
    width: 50%;
    height: 40%;

  }
}

@media only screen and (max-width: 458px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 90%;
  }

  main {
    height: 210vh;
  }

  #conteudo {
    height: 80%;

  }

}

@media only screen and (max-width: 328px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 90%;
  }

  main {
    height: 300vh;
  }

  #bloco2 {
    height: 20%;
    width: 100%;

  }
}