@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* { /* CSS RESET */
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

body{
  /*background:url(imgg/wallpaperflare.com_wallpaper.jpg); */
  background-color: rgb(42, 137, 214);
  background-attachment: fixed;
}

#p  {
  font-family: 'Chakra Petch', sans-serif;
  font-style: italic;
  color: rgb(255, 255, 255);
  font-size: 50pt;
  text-align: center;
  text-shadow:1px 3px 2px rgb(0, 0, 0);
}

#articletitulo {
  background-color: rgba(240, 248, 255, 0.358);
  backdrop-filter: blur(3px);
}

main {
  height: 110vh;
  
  margin: 0 auto;
  margin-top: 2.5vh;
  /*border-radius: 30px;
  background-color: rgba(240, 248, 255, 0.358);
  backdrop-filter: blur(3px);*/
  
}

#conteudo {
  height: 80%;
  
  margin: 0 auto;
  margin-top: 2%;
}


#articlebotoes {
  height: 15%;
  margin: 0 auto;
  border-radius: 15px;
  background-color: rgba(240, 248, 255, 0.358);
  backdrop-filter: blur(3px);
}

#botoes {
  height: 90%;
  float: left;
  margin-top: 1.15%;
  margin-left: 30%;
}

#botoes2{
  height: 90%;
  float: right;
  margin-top: 1.15%;
  margin-right: 30%;
}

/* BOTÃO DE AVANÇO */

#b2 {
  width: 100%;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #00aa63;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #76767f;
}

#b2:hover { background-color: #045a3a}

#b2:active {
  background-color: #045a3a;
  box-shadow: 0 5px #58585f;
  transform: translateY(4px);
}

/* BOTÃO DE AVANÇO */

/* BOTÃO DE RETORNO */

#b1 {
  width: 100%;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #1941d3;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #76767f;
}

#b1:hover { background-color: #0d257a}

#b1:active {
  background-color: #0d257a;
  box-shadow: 0 5px #58585f;
  transform: translateY(4px);
}

/* BOTÃO DE RETORNO */

#bloco1{
  /* border: 1px solid #000; */
  float: left;
  width: 60%;
  margin: 0 0 0 1%;
  border-radius: 15px;
  background-color: rgba(240, 248, 255, 0.358);
  backdrop-filter: blur(3px);
}

#bloco2{
  float: right;
  width: 26%;
  height: 20%;
  margin: 0% 1% 0 1%;
  border-radius: 15px;
  background-color: rgba(240, 248, 255, 0.358);
  backdrop-filter: blur(3px);
 
}

#sectionarticletop {
  
  height: 89%;
  float: left;
  margin: 0 0 0 1%;
  border-radius: 15px;
  background-color: rgba(240, 248, 255, 0.358);
  backdrop-filter: blur(3px);
}
#titulo {
  padding: 15px 0 0 0;
  text-align: center;
  font-weight: bolder;
  font-size: 20pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fraseinic {
  padding: 0 15px 0 15px;
  margin: 3.5% 0 0 0;
  text-align: justify;
  text-indent: 25px;
  font-size: 14pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#frasedestq {
  padding: 0 15px 0 15px;
  margin: 3.5% 0 0 0;
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  font-size: 14pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#volumecont {
  padding: 0 15px 25px 15px;
  margin: 3.5% 0 0 0;
  text-align: justify;
  text-indent: 25px;
  font-style: bolder;
  font-size: 14pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#quadro {
  margin: 5% 0 5% 10%;
 
  width: 80%;
  height: 250px;
}
  


  /* =============================ÁREA DE RESPONSIVIDADE ============================= */
.col-1 {width: 8.33%;}
.col-2 {width: 15.66%;}
.col-3 {width: 25%;}
.col-4 {width: 26.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 90.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 1368px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 95%;
  }

  main {
    height: 135vh;
  }

  #conteudo {
    height: 90%;
  }

  #sectionarticletop {
    width: 100%;
    height: 75%;
    margin-left: 0;
    float:none;
  }

  #bloco2 {
    float: none;
    margin: 0 auto;
    margin-top: 2%;
    width: 30%;
    
  }

  #articlebotoes {
    height: 7%;
    
    
  }

  #botoes {
    width: 30%;
  
    margin: 0;
  }

  #botoes2 {
    width: 30%;
    float: right;
    margin: 0;

  }

  #b1{
    width: 100%;
  }

  #b2 {
    width: 100%;
  }
    
   
  }

  @media only screen and (max-width: 1068px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 95%;
    }

    main {
      height: 170vh;
    }

    #conteudo {
      height: 90%;
    }

    #sectionarticletop {
      height: 80%;
    }

    #bloco2 {
      height: 15%;
    }
    #botoes {
      height: 80%;
    }

    #botoes2{
      height: 80%;
    }

    #b1 {
height: 100%;
    }

    #b2 {
      height: 100%;
    }



}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 97%;
  }

  main {
    height: 155vh;
  }

  #conteudo{
    height: 140vh;
  }

  #botoes {
    width: 30%;
    margin: 0;
  }

  #articlebotoes {
    width: 70%;
  }

  #bloco2 {
    width: 50%;
  }

  
}


@media only screen and (max-width: 568px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 97%;
  }
  main {
    height: 210vh;
  }

  #conteudo {
    height: 95%;
  }

  #sectionarticletop {
    height: 87.5%;
  }

  #bloco2 {
    height: 10%;
    margin-top: 4%;
    width: 80%;
  }

  #articlebotoes {
    height: 4%;
  }

}


@media only screen and (max-width: 368px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 97%;
  }
  main {
    height: 350vh;
  }

  #bloco2 {
    height: 10%;
    margin-top: 4%;
    width: 80%;
  }

  #articlebotoes {
    height: 4%;
    width: 90%;
  }
}
